header h1 {
    text-align: center;
    font-family: 'Roxborough CF', sans-serif;
    font-size: 5em;
  }
  nav ul {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  nav li {
    text-align: center;
    font-family: 'PP Neue Montreal', sans-serif;
    font-size: 1em;
    list-style-type: none;
    margin-right: 444px;
  }
  footer {
    text-align: center;
    font-family: 'PP Neue Montreal', sans-serif;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
  .left{
    margin-left: 10px;
}
    .center{
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
  }
  a:active {
    color: black;
}